# Database Configuration
DB_HOST=localhost
DB_PORT=1433
DB_NAME=OnlineFruitShopping
DB_USER=sa
DB_PASSWORD=123

# Email Configuration
EMAIL_FROM=duongminhhoanginwork@gmail.com
EMAIL_PASSWORD=jkhg przg aohf pwla

# Google Login OAuth Configuration
GOOGLE_CLIENT_ID=710006759532-tnve0ctpc8d6m88qidm8g65in482rfnn.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# SePay / VietQR Bank Configuration
SEPAY_BANK_ID=MB
SEPAY_ACCOUNT_NO=0394497949
SEPAY_ACCOUNT_NAME=Duong Minh Hoang

