# Database Configuration
DB_HOST=localhost
DB_PORT=1433
DB_NAME=OnlineFruitShopping
DB_USER=sa
DB_PASSWORD=123

# Email Configuration
EMAIL_FROM=email 
EMAIL_PASSWORD=pass

# Google Login OAuth Configuration
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=se

# SePay / VietQR Bank Configuration
SEPAY_BANK_ID=MB
SEPAY_ACCOUNT_NO=0394497949
SEPAY_ACCOUNT_NAME=Duong Minh Hoang

